.galleryContainer {
  text-align: center;
  /* background-color: var(--grey); */
}

.galleryContainer h2 {
  margin: 1em auto;
  /* color: var(--black); */
}

.photogrid {
  width: 60vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 200px; */
  gap: 2em;
  /* border: 6px solid var(--primary-highlight); */
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em auto;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .photogrid {
    width: 90vw;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
  }
}
