.media,
.musicplayer {
  background-color: var(--grey);
  color: var(--black);
  padding: 1em;
}

.mediacontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.media iframe {
  /* display: block; */
}

.videogallery {
  /* margin-top: 2em; */
  padding-top: 1em;
  padding-right: 1em;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-content: center;
  align-content: start;
}

.videogallery iframe {
  width: 100%;
  min-height: 350px;
}

.musicplayer {
  border-left: 1px solid var(--black);
  margin-top: 1em;
  padding-top: 0;
}

.musicplayerimage {
  width: 100%;
}
