.sidebar {
  height: 100svh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em;
  text-align: center;
  background-color: var(--black);
  position: sticky;
  top: 0;
  bottom: 0;
}

.menu {
  height: 50%;
}

.menuLinks {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
}
.sidebar li {
  list-style: none;
  text-transform: uppercase;
  color: var(--white);
}

.sidebar li:hover {
  color: var(--primary-highlight);
}

.socialButtons i {
  color: var(--primary-highlight);
  font-size: 3em;
  padding-right: 0.3em;
  transition: all 0.5s ease;
}

.socialButtons i:hover {
  color: var(--secondary-highlight);
  scale: 1.05;
}
